<h2>Some Random Movies</h2>
<ul>
    <% Rmovies.forEach(movie => { %>
        <li>
            <img src="<%= movie.MovieUrlPicture %>" alt="<%= movie.Description %>" width="150">
            <h3><%= movie.Description %></h3>
            <p>Release Date: <%= movie.ReleaseDate %></p>
            <p>Director: <%= movie.Director %></p>
            <p>Duration: <%= movie.MovieDuration %> minutes</p>
        </li>
    <% }); %>
</ul>